footer{
  background-color: #222222;
  color: #fff;
  font-size: 14px;
  padding-top: 50px;

  .footer-top{
    margin-bottom: 70px;
    color: #e3e3e3;
    .title-holder{
      margin: 15px 0 30px 0;
      .ribbon-bottom{
        width: 10%;
        background-color: #CF4159;
        height: 3px;
      }
    }
    .footer1{
      .image-holder{
        margin-bottom: 30px;
        img{
          width: 260px;
          height: 56px;
        }
      }
      .content-holder{
        font-size: 13px;
        margin-bottom: 35px;
      }
      .media-holder{
        margin-bottom: 20px;
        a{
          color: #fff;
          line-height: 40px;
          &:hover{
            color: #444444;
            filter:alpha(opacity=0);
            -webkit-transition:100ms ease;
            -moz-transition:100ms ease;
            -o-transition:100ms ease;
            transition:100ms ease;
            text-decoration: none;
          }
          div{
            display: inline-block;
            font-size: 20px;
            width: 40px;
            height: 40px;
            background-color: #444444;
            text-align: center;
            margin-right: 10px;
            vertical-align: middle;
            border: 1px solid #444444;
            &:hover{
              background-color: #fff;
              filter:alpha(opacity=0);
              -webkit-transition:200ms ease;
              -moz-transition:200ms ease;
              -o-transition:200ms ease;
              transition:200ms ease;
            }
          }
        }
      }
      .about-us-holder{
        .custom-style{
          font-family: 'oswald', sans-serif;
          margin: 0;
          font-size: 20px;
        }
        a{
          color: #fff;
          line-height: 20px;
          font-size: 12px;
          &:hover{
            color: #CE4159;
            filter:alpha(opacity=0);
            -webkit-transition:300ms ease;
            -moz-transition:300ms ease;
            -o-transition:300ms ease;
            transition:300ms ease;
            text-decoration: none;
          }
        }
      }
    }
    .footer2{
      .pop-post-holder{
        .post{
          display: flex;
          margin-bottom: 20px;
          .image-holder{
            margin-right: 15px;
            img{
              max-width: 154px;
            }
          }
          .text-holder{
            .title-holder-inner{
              line-height: 18px;
              margin-bottom: 15px;
              a{
                color: #fff;
                &:hover{
                  color: #CE4159;
                  filter:alpha(opacity=0);
                  -webkit-transition:200ms ease;
                  -moz-transition:200ms ease;
                  -o-transition:200ms ease;
                  transition:200ms ease;
                  text-decoration: none;
                }
              }
            }
            .date-holder{
              color: #e3e3e3;
              font-size: 13px;
            }
          }
        }
      }
    }
    .footer3{
      h5{
        margin-bottom: 35px;
      }
      .newsletter{
        .es_form_container{
          .es_widget_form{
            position: relative;
            label{
              display: none !important;
            }
            #es_txt_email{
              padding: 5px 60px 5px 10px;
              width: 295px;
            }
            .es_button{
              position: absolute;
              margin: 0;
              top: 3px;
              padding: 5px 0;
              left: 232px;
              #es_txt_button{
                background-color: transparent;
                border: none;
                color: #CF4159;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 16px;
                cursor: pointer;
                width: auto;
              }
            }
          }
        }
        margin-bottom: 35px;
        .wpcf7{
          .wpcf7-form{
            position: relative;
            p{
              &:nth-child(2){
                #input-email{
                  padding: 5px 60px 5px 10px;
                  width: 295px;
                }
              }
              &:nth-child(3){
                position: absolute;
                margin: 0;
                top: 4px;
                left: 232px;
                #mysubmit{
                  background-color: transparent;
                  border: none;
                  color: #CF4159;
                  text-transform: uppercase;
                  font-weight: 600;
                  font-size: 16px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      .privacy{
        p{
          margin: 0;
          font-weight: normal;
          a{
            color: #e3e3e3;
            &:hover{
              color: #CE4159;
              filter:alpha(opacity=0);
              -webkit-transition:200ms ease;
              -moz-transition:200ms ease;
              -o-transition:200ms ease;
              transition:200ms ease;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .footer-bottom{
    background-color: #333333;
    .copyright{
      line-height: 78px;
      text-align: center;
      @media (min-width: 768px){
        text-align: left;
      }
    }
    .footer-menu-col{
      .ul-footer-menu{
        margin: 0;
        text-align: center;
        li{
          display: block;
          @media (min-width: 768px){
            display: inline-block;
          }
          a{
            color: #fff;
            height: 70px;
            line-height: 50px;
            padding: 0 10px;
            &:hover{
              color: #CE4159;
              filter:alpha(opacity=0);
              -webkit-transition:200ms ease;
              -moz-transition:200ms ease;
              -o-transition:200ms ease;
              transition:200ms ease;
              text-decoration: none;
            }
            @media (min-width: 768px){
              float: right;
              line-height: 77px;
            }
          }
        }
      }
    }
  }
}
