footer{
  background-color: #222222;
  color: #fff;
  font-size: 14px;
  padding-top: 50px;

  .footer-top{
    margin-bottom: 70px;
    color: #e3e3e3;
    .title-holder{
      margin: 15px 0 30px 0;
      .ribbon-bottom{
        width: 10%;
        background-color: #CF4159;
        height: 3px;
      }
    }
    .footer1{
      .image-holder{
        margin-bottom: 30px;
      }
      .content-holder{
        font-size: 13px;
        margin-bottom: 35px;
      }
      .media-holder{
        a{
          color: #fff;
          line-height: 40px;
          &:hover{
            color: #fff;
          }
          div{
            display: inline-block;
            font-size: 20px;
            width: 40px;
            height: 40px;
            background-color: #444444;
            text-align: center;
            margin-right: 10px;
            vertical-align: middle;
          }
        }
      }
    }
    .footer2{
      .pop-post-holder{
        .post{
          display: flex;
          margin-bottom: 20px;
          .image-holder{
            margin-right: 15px;
            img{
              max-width: 154px;
            }
          }
          .text-holder{
            .title-holder-inner{
              line-height: 18px;
              margin-bottom: 15px;
              a{
                color: #fff;
                &:hover{
                  color: #fff;
                }
              }
            }
            .date-holder{
              color: #e3e3e3;
              font-size: 13px;
            }
          }
        }
      }
    }
    .footer3{
      h5{
        margin-bottom: 35px;
      }
      .newsletter{
        margin-bottom: 35px;
        .wpcf7{
          .wpcf7-form{
            position: relative;
            p{
              &:nth-child(2){
                #input-email{
                  padding: 5px 60px 5px 10px;
                  width: 295px;
                }
              }
              &:nth-child(3){
                position: absolute;
                margin: 0;
                top: 4px;
                left: 232px;
                #mysubmit{
                  background-color: transparent;
                  border: none;
                  color: #CF4159;
                  text-transform: uppercase;
                  font-weight: 600;
                  font-size: 16px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      .privacy{
        p{
          margin: 0;
          font-weight: normal;
          a{
            font-size: 11px;
            color: #e3e3e3;
            &:hover{
              color: #e3e3e3;
            }
          }
        }
      }
    }
  }

  .footer-bottom{
    background-color: #333333;
    .copyright{
      line-height: 78px;
      text-align: center;
      @media (min-width: 768px){
        text-align: left;
      }
    }
    .footer-menu-col{
      .ul-footer-menu{
        margin: 0;
        text-align: center;
        li{
          display: block;
          @media (min-width: 768px){
            display: inline-block;
          }
          a{
            color: #fff;
            height: 70px;
            line-height: 50px;
            padding: 0 10px;
            @media (min-width: 768px){
              float: right;
              line-height: 77px;
            }
          }
        }
      }
    }
  }
}
