// NAVIGATION
@import "nav";

// PAGE ASSETS
@import "pages/page-banner";

// ARCHIVE PAGE LAYOUT
@import "pages/archive/archive-main";

// SINGLE PAGE LAYOUT
@import "pages/single/single-main";

// SEARCH PAGE LAYOUT
@import "pages/search/search-main";

// FLEXIBLE LAYOUT
@import "pages/flex-layout";

// WHATS NEW LAYOUT
@import "pages/whats-new-layout";

// HAPPENINGS LAYOUT
@import "pages/happenings";

// CENTERFOLD LAYOUT
@import "pages/centerfold-layout";

// FRONT PAGE LAYOUT
@import "pages/front-page";

// CATEGORY LAYOUT
@import "pages/category";

// PAGINATION ASSET
@import "assets/pagination";

// SIDEBAR ASSET
@import "assets/sidebar";

// HIGHLY CUSTOMIZED LAYOUT (IMPORTANT CAN BE USED)
@import "important-layout";
