@import 'fonts-list/font-notosans';
@import 'fonts-list/font-oswald';

// // FONTS
$font-ns-black: 'noto_sansblack';
$font-ns-bold: 'noto_sansbold';
$font-ns-xbold: 'noto_sansextrabold';
$font-ns-xlight: 'noto_sansextralight';
$font-ns-italic: 'noto_sansitalic';
$font-ns-light: 'noto_sanslight';
$font-ns-medium: 'noto_sansmedium';
$font-ns: 'noto_sansregular';
$font-ns-thin: 'noto_sansthin';
$font-ns-sbold: 'noto_sanssemibold';
