.single{
  .single-category-container{
    margin: 35px;
    &.default{
      .cat-single-container{
        .image-holder{
          margin-bottom: 35px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .post-meta{
          font-size: 10px;
          margin: 0px;
          text-transform: uppercase;
          float: left;
          width: 100%;
          font-style: normal;
          line-height: 1.2;
          margin-bottom: 30px;
          span{
            display: inline-flex;
            margin-right: 15px;
            text-transform: capitalize;
            i{
              margin-right: 3px;
            }
            &.cat-color{
              color: #fff;
              text-transform: uppercase;
              padding: 3px 10px;
            }
            &.entertainment{
              background-color: #4135bf;
            }
            &.travel{
              background-color: #34BF51;
            }
            &.beauty{
              background-color: #F21363;
            }
            &.parenting{
              background-color: #F2C513;
            }
            &.tech{
              background-color: #018FFF;
            }
          }
        }
        h1{
          font-family: 'oswald', sans-serif;
          text-transform: uppercase;
          margin-bottom: 35px;
        }
        .content-holder{
          color: #8C8C8C;
          font-size: 15px;
        }
      }
      .leave-a-reply-container{
        margin-bottom: 35px;
        h3{
          font-family: 'oswald', sans-serif;
          text-transform: uppercase;
          margin-bottom: 35px;
        }
      }
      .related-articles-container{
        h3{
          font-family: 'oswald', sans-serif;
          text-transform: uppercase;
          margin-bottom: 35px;
        }
        .post-container{
          .post{
            margin-bottom: 30px;
            .image-holder{
              margin-bottom: 10px;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .text-holder{
              .category-holder{
                font-family: 'oswald', sans-serif;
                font-size: 12px;
                margin-bottom: 10px;
                div{
                  display: inline-block;
                  margin-bottom: 5px;
                  padding: 3px 15px;
                  color: #fff;
                  letter-spacing: 2px;
                  text-transform: uppercase;
                  &.entertainment{
                    background-color: #4135bf;
                  }
                  &.travel{
                    background-color: #34BF51;
                  }
                  &.beauty{
                    background-color: #F21363;
                  }
                  &.parenting{
                    background-color: #F2C513;
                  }
                  &.tech{
                    background-color: #018FFF;
                  }
                }
              }
              .post-meta{
                font-size: 10px;
                margin: 0 0 13px 0;
                text-transform: uppercase;
                float: left;
                width: 100%;
                font-style: normal;
                line-height: 1.2;
                span{
                  display: inline-flex;
                  margin-right: 5px;
                  text-transform: capitalize;
                  i{
                    margin-right: 3px;
                  }
                }
              }
              .title-holder-inner{
                line-height: 18px;
                margin-bottom: 5px;
                a{
                  font-family: 'oswald', sans-serif;
                  font-size: 1rem;
                  color: #000;
                  &:hover{
                    color: #000;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}