.header-pre-header{
  padding: 24px 0;
  .site-branding{
    text-align: center;
    @media (min-width: 992px){
      text-align: left;
    }
    img{
      height: auto;
      max-width: 264px;
      width: 100%;
    }
  }
  .header-center-logo{
    text-align: center;
    img{
      height: auto;
      max-width: 382px;
      width: 100%;
    }
  }
  .header-fb-search{
    @media (min-width: 992px) {
      text-align: right;
    }
    .header-fb{
      display: none;
    }
    .search{
      .searchbox{
        position:relative;
        min-width:50px;
        width:0%;
        height:50px;
        float:right;
        overflow:hidden;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -ms-transition: width 0.3s;
        -o-transition: width 0.3s;
        transition: width 0.3s;
        .searchbox-input{
          top: 0;
          right: 0;
          outline: 0;
          background: transparent;
          width: 100%;
          height: 50px;
          margin: 0;
          padding: 0px 55px 0px 20px;
          font-size: 16px;
          color: #000;
          border: 0;
          &::-webkit-input-placeholder {
            color: #000;
          }
          &::-moz-placeholder {
            color: #000;
          }
          &::-moz-placeholder {
            color: #000;
          }
          &::-ms-input-placeholder {
            color: #000;
          }
        }
        .searchbox-icon,
        .searchbox-submit{
          width: 50px;
          height: 50px;
          display: block;
          position: absolute;
          top: 0;
          font-family: verdana;
          right: 0;
          padding: 0;
          margin: 0;
          border: 0;
          outline: 0;
          line-height: 50px;
          text-align: center;
          cursor: pointer;
          color: transparent;
          background: transparent;
          font-size: 17px;
        }
        .searchbox-icon{
          i{
            line-height: .75em;
            vertical-align: -15%;
            font-size: 17px;
            color: #000;
          }
        }
      }
      .searchbox-open{
        width:100%;
        .searchbox-input{
          border: 1px solid #000;
        }
      }
    }
  }
}
