.myCenterfoldLayout{
  .banner-container{
    margin-bottom: 60px;
    .banner-holder{
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .centerfold-name-holder{
    h3{
      padding: 20px 0;
      font-family: 'oswald', sans-serif !important;
    }
  }
  .bxslider-container{
    margin-bottom: 45px;
    .bx-wrapper{
      margin: 0;
      background-color: transparent;
      box-shadow: none;
    }
  }
  .centerfold-content{
    .centerfold-container{
      margin-bottom: 50px;
      .image-holder{
        a{
          img{
            width: 100%;
            height: auto;
          }
        }
      }
      .post-meta{
        font-size: 10px;
        margin: 0px;
        text-transform: uppercase;
        float: left;
        width: 100%;
        font-style: normal;
        line-height: 1.2;
        padding: 15px 0;
        span{
          display: inline-block;
          margin-right: 15px;
          text-transform: capitalize;
        }
      }
      h4{
        font-family: 'oswald', sans-serif !important;
        margin-bottom: 25px;
        a{
          color: #000;
          &:hover{
            color: #CE4159;
            filter:alpha(opacity=0);
            -webkit-transition:200ms ease;
            -moz-transition:200ms ease;
            -o-transition:200ms ease;
            transition:200ms ease;
            text-decoration: none;
          }
        }
      }
    }
  }
  .previous-articles-container{
    font-family: 'oswald', sans-serif !important;
    .col-12{
      z-index: 0;
    }
    .owl-container{
      overflow: hidden;
      .owl-carousel{
        .owl-item{
          a{
            color: #000;
            font-family: inherit;
            img{
              height: auto;
              min-height: 136px;
              margin-bottom: 10px;
            }
            &:hover{
              color: #CE4159;
              filter:alpha(opacity=0);
              -webkit-transition:200ms ease;
              -moz-transition:200ms ease;
              -o-transition:200ms ease;
              transition:200ms ease;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}