.slider{
  display: block;
  position: relative;
  overflow: hidden;
  .slick-slider{
    &.default-slider{
      margin: 0;
      @media (min-width: 992px){
        position: relative;
        float: left;
        width: 67%;
        overflow: hidden;
      }
      .slick-list{
        .slick-track{
          .slide{
            height: 400px;
            @media (min-width: 992px){
              height: 600px;
            }
            .image-content{
              background-position: 50% 70%;
              background-size: cover;
              background-repeat: no-repeat;
              height: 100%;
              @media (min-width: 992px){
                background-position: center center;
              }
            }
          }
        }
      }
      .slick-dots{
        display: none !important;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: #000;
        text-align: center;
        font-size: 0;
        @media (min-width: 992px){
          display: block !important;
        }
        li{
          position: relative;
          display: inline-block;
          width: 20%;
          height: 10px;
          margin: 0;
          padding: 0;
          cursor: pointer;
          background-color: #fff;
          border: 1px solid #000;
          &:hover{
            background-color: #CE4159;
          }
          &.slick-active{
            background-color: #CE4159;
          }
          button{
            height: 0;
            width: inherit;
            margin: 0;
            padding: 0;
            line-height: 0;
            font-size: 0;
            &::before{
              height: 0;
              width: inherit;
              margin: 0;
              padding: 0;
              line-height: 0;
              font-size: 0;
            }
          }
        }
      }
    }
  }
  .controls{
    &.default-preview{
      position: absolute;
      bottom: 0px;
      width: 95%;
      background-color: rgba(0,0,0,.5);
      color: #fff;
      height: auto;
      left: 40px;
      right: 40px;
      float: left;
      @media (min-width: 992px){
        position: relative;
        float: left;
        width: 33%;
        overflow: hidden;
        height: 600px;
        left: auto;
        right: auto;
        background-color: #000;
      }
      .slick-slider{
        padding: 20px;
        @media (min-width: 992px){
          position: static;
          height: inherit;
          padding: 50px;
        }
        .slick-arrow{
          display: none !important;
          color: #999;
          cursor: pointer;
          z-index: 1;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 400;
          line-height: 1;
          width: 50%;
          height: 60px;
          line-height: 60px;
          position: absolute;
          text-align: center;
          top: auto;
          bottom: 0px;
          margin-top: 0;
          border-top: 1px solid #292929;
          transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
          @media (min-width: 992px){
            display: block !important;
          }
          &:hover{
            color: #fff;
          }
          &.post_arrow_left{
            left: auto;
            right: 50%;
          }
          &.post_arrow_right{
            right: auto;
            left: 50%;
            border-left: 1px solid #292929;
          }
        }
      }
      .captions{
        .caption{
          .container{
            padding: 0 !important;
            .category-holder{
              float: left;
              width: 100%;
              .post-category-color-text{
                background-color: transparent;
                font-size: 10px !important;
                height: auto;
                line-height: 10px;
                padding: 4px 15px 4px !important;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                font-family: 'oswald', sans-serif !important;
                @include linkdeconone();
                &.entertainment{
                  background-color: #4135bf;
                }
                &.travel{
                  background-color: #34BF51;
                }
                &.beauty{
                  background-color: #F21363;
                }
                &.parenting{
                  background-color: #F2C513;
                }
                &.tech{
                  background-color: #018FFF;
                }
              }
            }
            h5{
              float: left;
              margin: 20px 0;
              text-align: left;
              max-width: 100%;
              text-transform: uppercase;
              @media (min-width: 992px){
                font-size: 35px;
                font-weight: 400;
                letter-spacing: normal;
                line-height: 45px;
              }
              a{
                @include linkdeconone();
                font-family: 'oswald', sans-serif !important;
              }
            }
            .post-meta{
              font-size: 10px;
              color: #fff;
              margin: 0px;
              text-transform: uppercase;
              float: left;
              width: 100%;
              margin-top: -3px;
              font-style: normal;
              line-height: 1.2;
              span{
                display: inline-block;
                margin-right: 15px;
                letter-spacing: 2px;
                text-transform: uppercase;
              }
            }
            .post-meta-description{
              display: none;
              float: left;
              font-size: 13px;
              @media (min-width: 992px){
                margin-top: 15px;
                display: block;
              }
            }
            .post-meta-read-more{
              display: none;
              @media (min-width: 992px){
                display: block;
                float: left;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                font-size: 10px;
                font-weight: 400;
                color: #000;
                height: 40px;
                line-height: 38px;
                border: 1px solid #fff;
                padding: 0px 30px 0px;
                -o-transition: .25s;
                -ms-transition: .25s;
                -moz-transition: .25s;
                -webkit-transition: .25s;
                transition: .25s;
                background-color: #fff;
                margin-top: 30px;
              }
            }
          }
        }
      }
      .slick-arrow{
        display: none;
        @media (min-width: 992px){
          display: block;
        }
      }
    }
  }
}
