@font-face {
  font-family: 'noto_sansblack';
  src: url('../fonts/font-notosans/notosans-black-webfont.woff2') format('woff2'),
    url('../fonts/font-notosans/notosans-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'noto_sansbold';
  src: url('../fonts/font-notosans/notosans-bold-webfont.woff2') format('woff2'),
    url('../fonts/font-notosans/notosans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'noto_sansextrabold';
  src: url('../fonts/font-notosans/notosans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/font-notosans/notosans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'noto_sansextralight';
  src: url('../fonts/font-notosans/notosans-extralight-webfont.woff2') format('woff2'),
    url('../fonts/font-notosans/notosans-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'noto_sansitalic';
  src: url('../fonts/font-notosans/notosans-italic-webfont.woff2') format('woff2'),
    url('../fonts/font-notosans/notosans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'noto_sanslight';
  src: url('../fonts/font-notosans/notosans-light-webfont.woff2') format('woff2'),
    url('../fonts/font-notosans/notosans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'noto_sansmedium';
  src: url('../fonts/font-notosans/notosans-medium-webfont.woff2') format('woff2'),
    url('../fonts/font-notosans/notosans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'noto_sansregular';
  src: url('../fonts/font-notosans/notosans-regular-webfont.woff2') format('woff2'),
    url('../fonts/font-notosans/notosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'noto_sanssemibold';
  src: url('../fonts/font-notosans/notosans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/font-notosans/notosans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'noto_sansthin';
  src: url('../fonts/font-notosans/notosans-thin-webfont.woff2') format('woff2'),
    url('../fonts/font-notosans/notosans-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}